@page
@model VietInkWebApp.Pages.admin.Products.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/admin/_AuthLayout.cshtml";
}
@*<img width="70px;" src="~/BookImages/@item.Image" alt="book" />*@


<h1>Quản lí sản phẩm</h1>

<div class="row mb-5">
    <div class="col-sm-3">
        <p>
            <a asp-page="Create">Tạo sản phẩm</a>
        </p>
    </div>
    <div class="col-sm-9 row">
        <div class="">
            <form method="post" enctype="multipart/form-data" class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group col-sm-4">
                    @*id="file" name="file" accept=".xlsx, .xls" *@
                    <input asp-for="@Model.FileUploads"
                            type="file" />
                </div>
                <div class="form-group col-sm-4">
                    <input type="submit" value="Nhập Excel" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                ID sản phẩm
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Product[0].ProductName)*@
                Tên Sản Phẩm
            </th>
            <th>
                Danh Mục
            </th>
            <th>
                Đơn Vị
            </th>
            <th>
                Đơn Giá
            </th>
            <th>
                Trong kho
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                #@Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @String.Format("{0:N0}", item.UnitPrice) ₫
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                <div>
                        <img width="70px;" src="~/ProductImages/@item.Image" alt="book" />
                </div>
                @*@Html.DisplayFor(modelItem => item.Image)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> 
                @*| <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>


