@page
@model VietInkWebApp.Pages.admin.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}
@*<img width="70px;" src="~/BookImages/@item.Image" alt="book" />*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VietInkWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VietInkWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">VietInkWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">



<h1>Quản lí sản phẩm</h1>

<div class="row mb-5">
    <div class="col-sm-3">
        <p>
            <a asp-page="Create">Tạo sản phẩm</a>
        </p>
    </div>
    <div class="col-sm-9 row">
        <div class="">
            <form method="post" enctype="multipart/form-data" class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group col-sm-4">
                    @*id="file" name="file" accept=".xlsx, .xls" *@
                    <input asp-for="@Model.FileUploads"
                            type="file" />
                </div>
                <div class="form-group col-sm-4">
                    <input type="submit" value="Import Excel" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Product[0].ProductName)*@
                Tên Sản Phẩm
            </th>
            <th>
                Danh Mục
            </th>
            <th>
                Đơn Vị
            </th>
            <th>
                Đơn Giá
            </th>
            <th>
                Trong kho
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @String.Format("{0:N0}", item.UnitPrice) ₫
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                <div>
                        <img width="70px;" src="~/ProductImages/@item.Image" alt="book" />
                </div>
                @*@Html.DisplayFor(modelItem => item.Image)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> 
                @*| <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>





        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - VietInkWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*@await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>